<div class="main py-5" fxLayoutAlign="center center" fxLayout="row">
	<div fxFlex="100%" fxFlex.xs="90%" fxFlex.sm="90%" class="py-5" fxLayout="row wrap" fxLayoutAlign="space-around">
		<div class="text-white" fxFlex="column" fxFlex.xs="100%" fxFlex.sm="100%" ngClass.xs="mb-5" ngClass.sm="mb-5">
			<h1 class="subtitle text-white">Contact us</h1>
			<div fxLayout="row" fxLayoutAlign="start center" class="mb-3">
				<mat-icon class="mr-2">location_on</mat-icon>
				<address>
					2456 Quadra Street Victor Road  , New York ,USA
				</address>
			</div>

			<div fxLayout="row" fxLayoutAlign="start center" class="mb-3">
				<mat-icon class="mr-2">phone</mat-icon>
				<address>
				+91 5469 455 344
				</address>
			</div>

			<div fxLayout="row" fxLayoutAlign="start center" class="mb-3">
				<mat-icon class="mr-2">mail</mat-icon>
				<address>
				Email:	erser@gmail.com
				</address>
			</div>
		</div>


		<div class="text-white" fxFlex="column" fxFlex.xs="100%" fxFlex.sm="100%" ngClass.xs="mb-5" ngClass.sm="mb-5" >
			<h1 class="subtitle text-white p-0 m-0 mt-0">News letters</h1>
		   <p class="description text-white">
		   	Subscribe to get the latest update
		   </p>
		   <form fxLayout="column wrap" flexLayoutAlign="center">
		   
		   	<mat-form-field appearance="standard">
    <mat-label>Legacy form field</mat-label>
    <input matInput placeholder="Placeholder">
   
   
  </mat-form-field>



		   	<button fxFlex="50%" mat-button mat-flat-button color="accent" class="px-4 py-1">Subscribe</button>
		   </form>
		</div>



		<div class="text-white" fxFlex="column" fxFlex.xs="100%" fxFlex.sm="100%" ngClass.xs="mb-5" ngClass.sm="mb-5">
			<h1 class="subtitle text-white p-0 m-0 mt-0">Follow us</h1>
		   <p class="description text-white">
		   	Subscribe to get the latest update
		   </p>
		   <div fxLayout="row">
		   	<button mat-button>
		   	<img src="https://img.icons8.com/ios-filled/54/ffffff/facebook-new.png"/>
		   </button>

		   	<button mat-button>
		   	<img src="https://img.icons8.com/ios-filled/54/ffffff/twitter-circled--v1.png"/>
		   </button>

		   	<button mat-button>
		   	<img src="https://img.icons8.com/fluent-systems-filled/54/ffffff/instagram-new.png"/>
		   </button>
		   </div>
		
		</div>



	</div>
</div>
