

<div style="margin-top:100px;"   fxLayout="column" fxLayoutAlign="center center"  ngClass.xs="pt-4" ngClass.sm="pt-4" >

	<h1 class=" text-center mt-4" ngClass="title" ngClass.xs="subtitle" ngClass.sm="subtitle">Take the next step toward your <br><span>{{ title }}{{ cursor }}</span></h1>
	<p class="description text-center" fxHide.xs="true" fxHide.sm="true">95% of people for learning professional development report carrier beneifits <br> like 
		getting  a promotion, a raise , starting a new carrier 
	</p>


	<p class="description text-center" fxHide="true" fxHide.xs="false" fxHide.sm="false">95% of people for learning professional development report carrier beneifits  
	</p>



	<div class="search-box pl-3 pr-1 py-1 mt-3 mb-5">
		<input type="search" name="" class="search-input" fxFlex="grow">
		<button mat-button mat-flat-button color="accent" class="py-2" fxFlex="130px">SEARCH</button>
	</div>

	<div class="img-box">
	<img src="assets/images/banner-img2.png" width="100%" @slideInUp>
</div>
</div>
