<div fxLayout="row wrap">
	<div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" class=" bg-image" ngClass="p-5" ngClass.xs="p-2" ngClass.sm="p-2">
		<div class="" ngClass="p-5" ngClass.xs="p-2" ngClass.sm="p-2">
<h1 class=" p-0 m-0" ngClass="title" ngClass.xs="subtitle" ngClass.sm="subtitle">Become an instructor</h1>
<p class="description p-0 m-0 mb-4">What is Lorem Ipsum Lorem Ipsum is simply dummy text of the printing
and typesetting industry Lorem Ipsum has been the industry's</p>
<button mat-button mat-raised-button color="accent" class="px-4 py-1">Apply Now</button>
</div>
	</div>
	<div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" class="p-5 office" ngClass.xs="img-height" ngClass.sm="img-height"></div>
	<div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" class="p-5 meeting" ngClass.xs="img-height" ngClass.sm="img-height" fxFlexOrder.xs="1" fxFlexOrder.sm="1"></div>
		<div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" class=" bg-image" ngClass="p-5" ngClass.xs="p-2" ngClass.sm="p-2">
		<div class="" ngClass="p-5" ngClass.xs="p-2" ngClass.sm="p-2">
<h1 class=" p-0 m-0" ngClass="title" ngClass.xs="subtitle" ngClass.sm="subtitle">Become a Partner</h1>
<p class="description p-0 m-0 mb-4">What is Lorem Ipsum Lorem Ipsum is simply dummy text of the printing
and typesetting industry Lorem Ipsum has been the industry's</p>
<button mat-button mat-raised-button color="accent" class="px-4 py-1">Apply Now</button>
</div>
	</div>
</div>
