<div fxLayout="row" fxLayoutAlign="center" style="background:#FF1949;" id="count-box">
	<div style="width:80%;" fxLayout="row wrap" ngClass="py-5" ngClass.xs="py-3" ngClass.sm="py-3">
		<div style="" fxFlex="25%" fxFlex.xs="50%" fxFlex.sm="50%" fxLayout="column" fxLayoutAlign="center center" ngClass.xs="mb-5" ngClass.sm="mb-5">
			<mat-icon class="text-white" ngClass="icon-size mb-5" ngClass.xs="mb-3" ngClass.sm="mb-3">admin_panel_settings</mat-icon>
			<h1 class="title p-0 m-0 mb-2 text-white" style="font-size:60px;">
				{{ no_of_ins }}
			</h1>
			<p class="description p-0 m-0 text-white">Expert Instructor</p>
		</div>


			<div style="" fxFlex="25%"  fxFlex.xs="50%" fxFlex.sm="50%" fxLayout="column" fxLayoutAlign="center center" ngClass.xs="mb-5" ngClass.sm="mb-5">
			<mat-icon class="text-white "  ngClass="icon-size mb-5" ngClass.xs="mb-3" ngClass.sm="mb-3">assignment_ind</mat-icon>
			<h1 class="title p-0 m-0 mb-2 text-white" style="font-size:60px;">
				{{ no_of_clients }}
			</h1>
			<p class="description p-0 m-0 text-white">Our clients</p>
		</div>


			<div style="" fxFlex="25%"   fxFlex.xs="50%" fxFlex.sm="50%"fxLayout="column" fxLayoutAlign="center center">
			<mat-icon class="text-white"  ngClass="icon-size mb-5" ngClass.xs="mb-3" ngClass.sm="mb-3">bug_report</mat-icon>
			<h1 class="title p-0 m-0 mb-2 text-white" style="font-size:60px;">
				{{ no_of_projects }}
			</h1>
			<p class="description p-0 m-0 text-white">Project done</p>
		</div>

			<div style="" fxFlex="25%"   fxFlex.xs="50%" fxFlex.sm="50%" fxLayout="column" fxLayoutAlign="center center">
			<mat-icon class="text-white "  ngClass="icon-size mb-5" ngClass.xs="mb-3" ngClass.sm="mb-3">circle_notifications</mat-icon>
			<h1 class="title p-0 m-0 mb-2 text-white" style="font-size:60px;">
				{{ no_of_branches }}
			</h1>
			<p class="description p-0 m-0 text-white">Our branches</p>
		</div>
		
	</div>
</div>
