<div fxLayout="row" fxLayoutAlign="center">
	<div style="width:80%;" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
		<div title="manage space"></div>
		<div title="manage space"></div>
		<div title="manage space"></div>
		<h1 class=" p-0 m-0" ngClass="title" ngClass.xs="subtitle" ngClass.sm="subtitle">TEAM OF INSTRUCTORS</h1>
		<p class="description text-center">
			What is Lorem Ipsum Lorem Ipsum is simply dummy text of the printing <br fxHide="false" fxHide.xs="true" fxHide.sm="true">and typesetting industry Lorem Ipsum has been the industry's 
		</p>
        <div title="manage space"></div>
		<div title="manage space"></div>
		<div fxLayout="row wrap"  fxLayoutAlign="space-between">
			<img src="assets/images/team-a.jpg" fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="48%" ngClass.xs="mb-4" ngClass.sm="mb-4">
			<img src="assets/images/team-b.jpg" fxFlex="30%"  fxFlex.xs="100%" fxFlex.sm="48%" ngClass.xs="mb-4" ngClass.sm="mb-4">
			<img src="assets/images/team-c.jpg" fxFlex="30%"  fxFlex.xs="100%" fxFlex.sm="48%">
		</div>
		<div title="manage space"></div>
		<div title="manage space"></div>
		<div title="manage space"></div>
	</div>
</div>
