

<div style="margin-top:10px;"></div>

<div style="height:99%;"fxLayout="row" fxLayoutAlign="center center" class="bg-light">
	<mat-card fxFlex="440px" class="p-4" @fade>
		<mat-card-content>
			<div fxLayoutAlign="center">
			<img src="assets/images/logo.png" width="200">
		    </div>
		    <mat-vertical-stepper linear #stepper>
		    	<mat-step color="accent" label="Forget password" [stepControl]="usernameform">
		    		<form fxLayout="column" [formGroup]="usernameform" (submit)="finduser(stepper)">
		    			<mat-form-field>
		    				<mat-label>Username</mat-label>
		    				<input matInput formControlName="username">
		    				<mat-spinner *ngIf="usernameloader" matSuffix diameter="20">
		    				</mat-spinner>
		    				<mat-error *ngIf="!username.hasError('required') && !username.hasError('email')">
		    					Access denied ! 
		    				</mat-error>
		    				<mat-error *ngIf="username.hasError('required')">
		    					This field is required !
		    				</mat-error>
		    				<mat-error *ngIf="username.hasError('email') && !username.hasError('required')">
		    					Enter a valid email
		    				</mat-error>
		    				<mat-error *ngIf="iserror">
		    					{{ errorMessage }}
		    				</mat-error>
		    			</mat-form-field>
		    			<div>
		    				<button mat-button mat-stroked-button  [disabled]="usernameform.invalid">Next</button>
		    			</div>
		    		</form>
		    	</mat-step>

		    	<mat-step color="accent"  label="Email verification code" [stepControl]="codeform">
		    			<form fxLayout="column" [formGroup]="codeform" (submit)="verifycode(stepper)">
		    			<mat-form-field>
		    				<mat-label>Code</mat-label>
		    				<input matInput  formControlName="code">
		    				<mat-error *ngIf="errorverificationcode">
		    					Invalid verification code
		    				</mat-error>
		    				<mat-error *ngIf="code.hasError('required')">
		    					This field is required !
		    				</mat-error>
		    				<mat-error *ngIf="code.hasError('minlength') && !code.hasError('required')">
		    					Enter 6 digits verification code !
		    				</mat-error>
		    				<mat-error *ngIf="code.hasError('maxlength') && !code.hasError('required')">
		    					Max 15 character allow !
		    				</mat-error>
		    			</mat-form-field>
		    			<div>
		    				<button class="mr-2" type="button" mat-button mat-stroked-button matStepperPrevious>Back</button>
		    				<button mat-button mat-stroked-button >Next</button>
		    			</div>
		    		</form>
		    	</mat-step>

		    	<mat-step color="accent"  label="Change password" [stepControl]="passwordform">
		    			<form fxLayout="column" [formGroup]="passwordform" (submit)="newpassword()">
		    			<mat-form-field>
		    				<mat-label>New password</mat-label>
		    				<input matInput formControlName="password">
		    				<mat-error *ngIf="password.hasError('required')">
                            This field is required ! 
		    				</mat-error>
		    				<mat-error *ngIf="password.hasError('minlength') && !password.hasError('required')">
		    					Enter 6 digits verification code !
		    				</mat-error>
		    				<mat-error *ngIf="password.hasError('maxlength') && !password.hasError('required')">
		    					Max 15 character allow !
		    				</mat-error>
		    			</mat-form-field>

		    			<mat-form-field>
		    				<mat-label>Confirm password</mat-label>
		    				<input matInput formControlName="conpassword">
		    				<mat-error *ngIf="conpassword.hasError('required')">
                            This field is required ! 
		    				</mat-error>
		    				<mat-error *ngIf="conpassword.hasError('minlength') && !conpassword.hasError('required')">
		    					Enter 6 digits verification code !
		    				</mat-error>
		    				<mat-error *ngIf="conpassword.hasError('maxlength') && !conpassword.hasError('required')">
		    					Max 15 character allow !
		    				</mat-error>
		    			</mat-form-field>
		    			<mat-error *ngIf="passwordform.hasError('conpassword') && conpassword.value.length >0 && !conpassword.hasError('minlength') ">
		    				password did not match !
		    			</mat-error>
		    			<div>
		    				<button class="mr-2" type="button" mat-button mat-stroked-button matStepperPrevious>Back</button>
		    				<button mat-button mat-stroked-button [disabled]="passwordform.hasError('conpassword')">Done</button>
		    			</div>
		    		</form>
		    	</mat-step>
		    </mat-vertical-stepper>
		</mat-card-content>
	</mat-card>

</div>
